<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Nodejs News App</title>
</head>

<body>
    <header class="header">
        <div class="header__logo">Nod.Js News</div>
        <form action="/" method="POST">
            <input type="text" name="search" placeholder="Search for news" autocomplete="off" required>
            <input type="submit" value="Search">
        </form>
    </header>

    <div class="wrapper">
        <div class="news__single">
            <a href="/">&larr; Back</a>
            <h2>
                <%- article.title.rendered %>
            </h2>
            <p>
                <%- article.content.rendered %>
            </p>
        </div>
    </div>

</body>

</html>